<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<div id = "center-box">

<h1>Validate New Driver</h1>

<br>

<h3 class ="text">Pending Requests</h3>

<table class="table table-striped">

    <tr>
        <th class ="text padding">Id</th>
        <th class ="text padding">Name</th>
        <th class ="text padding">Route</th>
        <th class ="text padding">Username</th>

    </tr>

    <tr th:each="driver : ${drivers}">
        <td class ="text padding" th:text="${driver.id}"></td>
        <td class ="text padding" th:text="${driver.dName}"></td>
        <td class ="text padding" th:text="${driver.route}"></td>
        <td class ="text padding" th:text="${driver.username}"></td>
    </tr>
</table>


    <span></span>
<h3 class ="text">Enter Driver ID:</h3>
<form th:action="@{/addDriver}" method="post">
    <div><label><input type="text" name="id"/> </label></div>

    <div><input id ="signUp" type="submit" value="Validate Driver"></div>
</form>

<span></span>
<h5>
    Back to
    <a href = "/admin">Admin Home</a>
</h5>
</div>
</body>
</html>