<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<div id = "center-box">
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<div id ="stack">
    <button><a href="/addRoute">Add Route</a></button>
    <button><a href="/addDriver">Validate Driver</a> </button>
</div>

<span></span>
    <h5>
        Back to
        <a href = "/login">Login</a>
    </h5>
    <form th:action="@{/logout}" method="post">
        <input id = "signOut" type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>