<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>

    <title>Forgot Password</title>

</head>
<body>
<div id = "center-box">

<h1>Change your Password</h1>
    <form th:action="@{/changePassword}" method="post">
        <div class = "align-left">

            <h3 class = "text">New Password</h3>
            <label>
                <input type="text" name="password"/>
            </label>
            <h3 class = "text">Confirm New Password</h3>
            <label>
                <input type="text" name="confirmPassword"/>
            </label>
            <input type="hidden" name="username" th:value="${param.userUsername}" />

        </div>
        <div id = "invalid" th:if="${param.error}">
            <h3 class = "text">Password must match</h3>
        </div>
        <div id = "sign-margin">
            <input id = "signUp" type="submit" value="Update Password">
        </div>
    </form>
</div>


</body>
</html>


