<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DriverSearch</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>

</head>

<body>
<div id = "center-box">

<h1>  Matched routes </h1>
    <span></span>
<br>

    <table class="table table-striped">

        <tr class = "rider-align">
            <th>Id</th>
            <th>From</th>
            <th>To</th>
            <th>Start Pickup</th>
            <th>End Pickup</th>
            <th>Remaining Seats</th>

        </tr >

        <form th:action="@{/joinDriveSuccess}" method="post">
            <tr class="rider-align" th:each="route : ${matchedRoutes}">
                <td th:text="${route.id}"></td>
                <td th:text="${route.startLoc}"></td>
                <td th:text="${route.endLoc}"></td>
                <td th:text="${route.startPickUpTime}"></td>
                <td th:text="${route.endPickUpTime}"></td>
                <td th:text="${route.capacity}"></td>

                <td><button type = "submit" th:value = "${route.id}" name="routeID">Drive Route</button></td>
            </tr>
        </form>

    </table>

    <span></span>
    <a href="/driverHomePage">Back to Homepage»</a>
</div>
</body>
</html>