<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>

    <title>Password Reset</title>

</head>
<body>
<div id = "center-box">

<h1>Password Reset</h1>




<form th:action="@{/passwordReset}" method="post">
    <div class = "align-left">

        <h3 class = "text">Enter your username</h3>
        <label>
            <input type="text" name="username"/>
        </label>
    </div>
    <div id = "invalid" th:if="${param.error}">
        <h3 class = "text">User does not exist</h3>
    </div>
    <div id = "sign-margin">
        <input id = "signUp" type="submit" value="Search">
    </div>
</form>

<span></span>
    <div id ="footer">

    <h5>
        <a href = "/login">Back to Login</a>
    </h5>
    </div>

</div>

</body>
</html>


