<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rider Home Page!</title>
</head>
<body>
<h1>Rider Home Page!</h1>
<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<table class="table table-striped">

    <tr>
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Start Pickup</th>
        <th>End Pickup</th>
        <th>Remaining Seats</th>

    </tr>

    <form th:action="@{/joinSuccess}" method="post">
    <tr th:each="route : ${routes}">
        <td th:text="${route.id}"></td>
        <td th:text="${route.startLoc}"></td>
        <td th:text="${route.endLoc}"></td>
        <td th:text="${route.startPickUpTime}"></td>
        <td th:text="${route.endPickUpTime}"></td>
        <td th:text="${route.capacity}"></td>

        <td><button type = "submit" th:id = "${route.id}" name="routeID">Join</button></td>
    </tr>
    </form>
</table>
<br>
<h2> Search for a ride </h2>
<form th:action="@{/riderHomePage}" method="post">
    Start Location: <input type="text" name="startL"><br>
    End Location: <input type="text" name="endL"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>