<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ride Search</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>

</head>

<body>
<div id = "center-box">

<h1>  Matches Found </h1>
    <span></span>

    <div th:if="${not #lists.isEmpty(matchedRoutes)}">

    <br>

    <table class="table table-striped">

        <tr class = "rider-align">
            <th>Id</th>
            <th>From</th>
            <th>To</th>
            <th>Start Pickup</th>
            <th>End Pickup</th>
            <th>Remaining Seats</th>

        </tr >

        <form th:action="@{/joinSuccess}" method="post">
            <tr class="rider-align" th:each="route : ${matchedRoutes}">
                <td th:text="${route.id}"></td>
                <td th:text="${route.startLoc}"></td>
                <td th:text="${route.endLoc}"></td>
                <td th:text="${route.startPickUpTime}"></td>
                <td th:text="${route.endPickUpTime}"></td>
                <td th:text="${route.capacity}"></td>

                <td><button type = "submit" th:value = "${route.id}" name="routeID">Join</button></td>
            </tr>
        </form>

    </table>
    </div>
    <div th:if="${#lists.isEmpty(matchedRoutes)}">
        <h5>No Matches Found</h5>
    </div>
    <span></span>
    <a href="/riderHomePage">Back to Homepage</a>
</div>
</body>
</html>