<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rider Home Page!</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<div id = "center-box">

<h1>Rider Homepage</h1>

<span></span>
    <h2> Rides Joined</h2>

    <h5>No rides joined yet</h5>
    <span></span>
    <h2> Search for Upcoming Rides </h2>
    <form th:action="@{/riderHomePage}" method="post">
        <div id ="line1">        Start Location: <input type="text" name="startL"><br>
        </div>
        End Location:   <input type="text" name="endL"><br>
        <input id = "search-submit"type="submit" value="Submit">
    </form>
<span></span>
    <h2>List of Upcoming Rides</h2>
    <table class="table table-striped">

    <tr class = "rider-align">
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Start Pickup</th>
        <th>End Pickup</th>
        <th>Remaining Seats</th>

    </tr >

    <form th:action="@{/joinSuccess}" method="post">
    <tr class="rider-align" th:each="route : ${routes}">
        <td th:text="${route.id}"></td>
        <td th:text="${route.startLoc}"></td>
        <td th:text="${route.endLoc}"></td>
        <td th:text="${route.startPickUpTime}"></td>
        <td th:text="${route.endPickUpTime}"></td>
        <td th:text="${route.capacity}"></td>

        <td><button type = "submit" th:id = "${route.id}" name="routeID">Join</button></td>
    </tr>
    </form>

</table>
    <span></span>
    <h2> Previous Rides </h2>
    <h5>You haven't taken a  Vanpool yet.</h5>
    <span></span>

    <form th:action="@{/logout}" method="post">
        <input id = "signUp" type="submit" value="Sign Out"/>
    </form>
</div>

</body>

</html>
</html>