<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

</head>
<body>
<h1>Sign Up for VanPool.</h1>

<form action="post">
    Username:
    <br>
    <input type="text" name="username">
    <br>
    Password:
    <br>
    <input type="password" name="password">
    <br>
    Confirm Password:
    <br>
    <input type="password" name="confirmPassword">
    <br>
    First Name:
    <br>
    <input type="text" name="firstName">
    <br>
    Last Name:
    <br>
    <input type="text" name="lastName">
    <br>
    Phone Number:
    <br>
    <input type="tel" name="phone">
    <br>
    Sign up as a
    <input type="radio" name="userLevel" value="passenger" checked> Passenger
    <input type="radio" name="userLevel" value="driver"> Driver
    <br>
    <br>
    <input type="checkbox" name="policy">
    Agree Policy
    <br>
    <button type="submit">Submit</button>

    <br>
    <br>
</form>



</body>
</html>