<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up for VanPool.</h1>

<form action="post">
    Username:
    <br>
    <input type="text" name="username">
    <br>
    Password:
    <br>
    <input type="text" name="password">
    <br>
    First Name:
    <br>
    <input type="text" name="firstName">
    <br>
    Last Name:
    <br>
    <input type="text" name="lastName">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>



</body>
</html>